{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="container">
    <div class="home_container">
    <div class="row">
        <div class="col">
            <div id="home-content">
                <hr>
                <br>
                <br>
                <br>
                <br>
                <a class="btn btn-success btn-lg" href="{% url 'polls:list' %}" role="button">AMUA!</a>
                <br>
                <br>
                <br>
                <br>
                <br>
                <hr>
            </div>
        </div>
    </div>
    </div>
</div>
{% endblock content %}